.backgroud {
    display: flex;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.backgroud_mobile {
    display: none;
}

.filter {
    background: rgb(15, 16, 20);
    background: linear-gradient(90deg, rgba(15, 16, 20, 1) 0%, rgba(15, 16, 20, 0.7679446778711485) 35%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_container {
    width: 50%;
    padding: 50px;
}

.title {
    font-size: 2rem;
    color: #fff;
    font-family: Avenir;
}

.description {
    font-size: 1rem;
    color: #fff;
    font-family: Avenir;
}

.btn_play {
    height: 50px;
    width: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

.title_play {
    color: #0F1014;
    font-family: Avenir;
    height: 20px;
    margin-left: 5px;
    font-size: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btns_add_group {
    display: flex;
    flex-direction: row;
}

.btn_add,
.btn_group {
    height: 40px;
    margin-left: 20px;
    background-color: #0F1014;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}


@media (max-width: 1000px) {

    .backgroud_mobile {
        height: 30%;
        width: 100%;
        display: inline-block;
        object-fit: cover;
    }

    .filter {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgb(15, 16, 20);
        background: linear-gradient(180deg, rgba(15, 16, 20, 1) 0%, rgba(15, 16, 20, 0.7679446778711485) 35%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }

    .backgroud {
        background-image: none !important;
        display: flex;
    }

    .content_container {
        width: 100%;
        padding: 50px;
    }

    .title {
        font-size: 1rem;
        color: #fff;
        font-family: Avenir;
    }

    .description {
        font-size: 0.5rem;
        color: #fff;
        font-family: Avenir;
    }

    .content_container {
        padding: 8%;
    }

    .buttons {
        flex-direction: column;
    }

    .btn_play {
        width: 100%;
    }

    .btns_add_group {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .btn_add,
    .btn_group {
        height: 40px;
        margin-left: 20px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        cursor: pointer;
    }
}