.navbar {
    display: flex;
    background-color: #080B12;
    height: 60px;
    padding: 10px 15px 10px;
}

.title {
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
    font-family: Avenir;
    height: 12px;
}

.icon {
    height: 22px;
}

.logo {
    height: 40px;
}

.options_container {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 50px;
}

.option {
    display: flex;
    height: 12px;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile_container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile_text {
    font-size: 14px;
    margin-left: 5px;
    color: #fff;
}

.profile_img {
    margin-left: 15px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}